{% extends "layout.html" %}

{% block title %}Productos - MR Electronic{% endblock %}

{% block content %}
    <h2 class="text-center">Registro de Productos</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" required>
        </div>
        <div class="mb-3">
            <label for="modelo" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo" name="modelo" required>
        </div>
        <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea class="form-control" id="observaciones" name="observaciones" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Registrar Producto</button>
    </form>
{% endblock %}